{% extends 'base.html' %}
{% block content %}
<img src="{{play.image.url}}" width="90px" height="90px"><br>
    <h1>{{play.title}}<br></h1>
    <h4>{{play.description}}<br></h4>
    <h5>RATING:{{ play.average_rating }}<br></h5>
     <a href="{{ play.download.url}}" download="{{ play.download.url}}">Download</a>
    {{play.date_published}}<br>
<button><a href="{% url 'comment_create' play.pk %}">Написать коментарий</a></button><br>
{% for com in play.plays.all %}
	{{com.user}} , {{com.content}} , {{com.created_comment}}<br> 
{% endfor %}

<button><a href="{% url 'rating_create' play.pk %}">Добавить рейтинг</a></button><br>
{% for rating in play.plays_rating.all %}
	{{rating.user}} , {{rating.rating}}<br>
{% endfor %}
{% endblock %}