{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
  <h2 style="color: red; left: 100%">{{ message }}</h2>
{% endfor %}
{% endif %}
	<h3>регистрация</h3>
<form method="post">
	{% csrf_token %}
	{{ form.username.label }}
	{{ form.username|safe }}
	{{ form.password1.label }}
	{{ form.password1 }}
	{{ form.password2.label }}
	{{ form.password2 }}

	      <div class="g-recaptcha" data-sitekey="6Lffb9saAAAAANGb9ukWoQkFu5-oRFsxFd022frd"></div>
      <br/>
	<button type='submit'>Зарегистрироваться</button>
</form>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>



{% endblock %}